DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
API_PORT=8080
FRONTEND_PORT=3000
API_KEY=dev-secret-key
